.bg{
	background:#efefef;
}
.nav-font{
	max-width:70%;
	margin:0 auto;
	font-size:.875rem;
	color:#000;
}
.bg-w{
	background:#fff;
	max-width:70%;
	margin:0 auto;
}
.list-font{
	color:#666;
	font-size:1rem;
	text-align:center;
}
.list-font2{
	color:#ff753a;
    font-size:.875rem;
	text-align:center;
}
.a:hover img{
	transform:scale(1.1);
}
.a img{
	transition:all .6s ease;
	max-width:100%;
}